/* defining styles which the rest of the styling is built around */

* {
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif !important;
  text-decoration: none !important;
}

a {
  color: black;
  &hover {
    color: $primary-color !important;
  }
}

html,
body {
  padding: $base-padding;
  padding: $base-padding;
  background: $body-bgcolor;
}