.App-logo {
  height: 3em;
  padding: none;
  margin: none;
}

.App-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0.75em 0.75em 0 0;
  background-color: white;
  height: 5vh;
}

// Section height -----------------------------------------------------------------

#header,
#articles,
#your-health,
.Article,
.HealthCalc {
  height: 100vh;
}

#header,
#articles,
#your-health,
.Article,
.HealthCalc,
#help {
  background-size: cover;
  background-color: white;
  margin: auto;
  width: 90%;
  padding: 30vh 50px;
}

#header {
  text-align: center;
}

#help {
  height: 95vh;
}

// Buttons and icons -----------------------------------------------------------------

/* button */
.button {
  display: inline-block;
  padding: .75em 2em;
  border-radius: 10px;
  border-color: $secondary-color;
  border-width: 2.5px;
  border-style: solid;
  font-size: 1em;
  transition: all 0.2s ease;
  color: $secondary-color;
  background-color: white;
  margin: 0 20px;
  font-weight: 500;

  &:hover {
    border-color: $primary-color;
    color: $primary-color !important;
  }
}


#nav-left {
  background-color: white;
  border-radius: 0 0 12px;
}

#nav-right {
  background-color: white;
  border-radius: 0 0 0 12px;
}

.nav-link {
  color: black;

}

.arrow {
  font-size: 2.5em;
}

// FAQ styling -----------------------------------------------------------------

.question {
  text-align: center;
  font-size: 1.5em;
}