.App-logo {
  height: 3em;
  padding: none;
  margin: none;
}

.App-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0.75em 0.75em 0 0;
  background-color: rgba(0,0,0,0.05);
  height: 5vh;
}

// Section height -----------------------------------------------------------------

#header,
#articles,
#your-health,
.Article {
  height: 100vh;
  padding: 30vh 50px;
}

#header,
#articles,
#your-health,
.Article,
#help {
  background-size: cover;
  background-color: white;
  margin: auto;
  width: 90%;
}

#header {
  text-align: center;
}

#help {
  height: 95vh;
  padding: 20vh 50px;
}

// Buttons and icons -----------------------------------------------------------------

/* button */
.button {
  display: inline-block;
  padding: 10px 20px 8px 20px;
  border-radius: 4px;
  border-color: $secondary-color;
  border-width: 2.5px;
  border-style: solid;
  font-size: 1.2em;
  transition: all 0.2s ease;
  color: $secondary-color;
  background-color: white;
  margin: 0 40px 40px 0;
  font-weight: 500;

  &:hover {
    border-color: $primary-color;
    color: $primary-color !important;
    transform: scale(1.05)
  }

  a {
    padding: 0;
  }
}

.buttonSmall {
  display: inline-block;
  padding: 8px 20px 8px 20px;
  border-radius: 4px;
  border-color: $secondary-color;
  border-width: 1px;
  border-style: solid;
  font-size: 1em;
  transition: all 0.2s ease;
  color: $secondary-color;
  background-color: white;
  margin: 0 40px 0 0;
  font-weight: 500;

  &:hover {
    border-color: $primary-color;
    color: $primary-color !important;
    transform: scale(1.05)
  }

  a {
    padding: 0;
  }
}

.btnIcon {
  color: $primary-color;
  font-size: 2em;
  margin-right: 15px;
  margin-bottom: 3px;
}

.questionBtn {
  width: 100%;
  margin: 20px 0 20px 0;
}

.btnIconRight {
  color: $primary-color;
  font-size: 2em;
  margin-bottom: 3px;
}

.mainBtn {
  margin-top: 60px;
}

.navbar-brand {
  background-color: rgba(0,0,0,0.025);
  border-radius: 0 0 12px;
}

.navbar {
  background-color: rgba(0,0,0,0.025);
  border-radius: 0 0 0 12px;
  transition: ease 2s;
  a {
  color: black !important;
  transition: all 0.2s ease;

  &:hover {
    color: $secondary-color !important;
  }
  }
}

.arrow {
  font-size: 2.5em;
}

.form-control {
  border-color: $secondary-color !important;
}