/* overriding typography which was initially defined by React Bootstrap */

h1 {
  color: $primary-color;
  font-weight: 300 !important;
}

h2 {
  color: $secondary-color;
  padding-top: 0.5em;
  padding-bottom: 0.25em;
}

h3,
p {
  font-weight: 400 !important;
}

h5,
h6 {
  color: $secondary-color;
  font-weight: 400 !important;
}
